//  ========Wrapper=====================================================================================================================================
%tpl-Wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//  ========Container=====================================================================================================================================
%tpl-Container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
//  ========IMG=====================================================================================================================================
%tpl-Img {
	position: relative;
	& img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//  ========BODY=====================================================================================================================================
%tpl-body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
}
//  ========MIXIN-FLEXBOX=====================================================================================================================================
$flx-content: 1 1 auto;
@mixin flex-content($flx-content) {
	flex: $flx-content;
}
//  =============================================================================================================================================
$flx-img: 0 0 150px;
@mixin flex-img($flx-img) {
	flex: $flx-img;
}
//  =============================================================================================================================================
$flx-column: 1 1 50%;
$flx-column2: 33.333%;
@mixin flex-column($flx-column) {
	flex: $flx-column;
	flex: $flx-column2;
}
//  =============================================================================================================================================
